*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f5f5f5;
    text-align: center;
}

.p_container{
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    place-items: center;
    gap: 5px;
    
}

.item{
    width: 13vw;
    height: 10vh;
    background-color: #fff;
    border: 1px solid rgb(146, 142, 142);
    box-shadow: 18px 20px 38px -15px rgba(0,0,0,0.75);
    transition: all 0.5s ease;
}

.item:nth-child(4){
    background-color: aqua;
}

.parking_space{
    background-color: hsl(120deg 88.93% 53.91% / 81%);
}

.road{
    background-color: #9f9c9c;
}

.path_color{
    background-color: #e3e642;
}
